.form {
    width: 95%;
    max-width: 25rem;
    margin-left: 29%;
    margin-top: 13%;
    margin-bottom: 10px;
}

.control {
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
}

.control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    text-align: center;
    color: rgba(14, 40, 130, 0.85);;
    /*display: block;*/
}

.control input{
    display: block;
    font: inherit;
    width: 90%;
    border-radius: 4px;
    border-color: #082868;
    padding: 0.25rem;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.42);
}
.customInput {

    font: inherit;
    width: 90%;
    border-radius: 4px;
    border-color: #082868;
}
.checkbox {
    font-weight: bold;
    margin-top: 1rem!important;
    margin-left: 5rem!important;
    text-align: center;
    color: rgba(14, 40, 130, 0.85);;
    display: flex!important;
}

.action {
    margin-top: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

.action button, .btn {
    font: inherit;
    padding: 0.2rem 1.5rem;
    color: #ffffff !important;
    background-color: #0E2882 !important; 
}

.action button:hover, .btn {
    color: #ffffff !important;
    background-color: hsl(224, 24%, 44%) !important;
}

span a {
    text-decoration: none;
    color: rgb(93, 96, 104);
}

span a:hover {
    color: rgb(2, 14, 45);
}


textarea {
    resize: none;
    width: 363px;
    height: 111px;
}

input {
    border: 0.1px solid;
}

input:disabled {
    background-color: white;
}


.leftSide {

    min-height: 100% !important;
    align-content: center;
}

.rightSide {
    min-height: 100% !important;
    align-content: center;

}

.main {
    height: 100% !important;
}

.img {
    width: 80% !important;
    max-height: 70% !important;
    /* max-height: 100% !important; */
    margin-left: 30%;
    margin-top: 25%;
}

@media (max-width: 996px) {
    .form {
        margin-left: 10%;
        margin-top: 15%;
    }

    .img {
        width: 80% !important;
        heigth: 40% !important;
        margin-left: 15%;
        margin-top: 12%;
    }

}
@media (max-width: 768px) {
    .form {
        width: 50%;
        margin-left: 25%;
        margin-top: 0%;
    }

    .img {
        width: 50% !important;
        heigth: 20% !important;
        margin-left: 25%;
        margin-top: 4%;
    }

    .rightSide {
        width: 40%;
        min-height: 50%;
    }

    .action button, .btn {
        margin-left: 10px;
        margin-top: -20px;
    }
}
@media (max-width: 575px) {
    .form {
        /*width: 50%;*/
        /*margin-left: 25%;*/
    }

    .img {
        width: 50% !important;
        heigth: 40% !important;
        margin-left: 25%;
        margin-top: 8%;
    }

    .customInput{
        width: 100%;
    }
    /*.rightSide {*/
    /*    width: 40%;*/
    /*    min-height: 50%;*/
    /*}*/

    .action button, .btn {
        /*width: 40%;*/
        /*margin-left: 19%;*/
    }

    input {
        /*font-size: 12px!important;*/
        /*width: 100% !important;*/

    }

    /*input[type=checkbox]{*/
    /*    font-size: 10px!important;*/
    /*    margin-left: -20px!important;*/
    /*    width: 50% !important;*/

    /*}*/
    .control{
        margin-bottom: 0rem;
        margin-left: 0rem;
    }

    .control label {
        font-size: 12px;
        margin-left: 1.5rem;
    }
    span {
        font-size: 10px;
    }
}
