@media (max-width: 767px) {

    .phone {
        margin-left: 10%;
        /*font-weight: normal;*/
        font-size: 12px!important;
    }

    .customPhone{
        width: 100% !important;
        height: 10px;
        font-size: 10px!important;
        font-weight: normal;
    }
    span {
        font-size: 12px;
    }
    .custom-btn {
        width: 75% !important;
    }

    textarea{
        width: 60% !important;
    }
}
@media (max-width: 575px) {

    .label {
        width: 20% !important;
        margin-left: 10% !important;
        font-weight: normal!important;
        font-size: 12px!important;
    }

    .customPhone{
        width: 40% !important;
        font-size: 10px!important;
    }
    span {
        font-size: 12px!important;
    }

    .custom-btn {
        width: 50% !important;
    }
}
@media (max-width: 991px) {

    .label, textarea, input, .custom-btn {
        margin: 10px;
    }

    .span {
        margin-left: 42%;
    }

    .section {
        text-align-all: center;
    }

    .customPhone{
        width: 100% !important;

    }

    .about-avatar {
        margin-top: 30px;
    }

}

.custom-btn {
    color: #15275c !important;
    background-color: #ffffff !important;
    width: 50%;
    border: 0 solid !important;
    margin-bottom: -20px !important;
    margin-top: 5%;
    margin-left: 19%;
    border-radius: 13px !important;
}

.custom-btn:hover {
    color: #ffffff !important;
    background-color: #15275c !important;
}


.label {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 20%;
    text-align: left;
}

textarea {
    margin-top: -23px !important;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 5%;
    resize: none !important;
    border: 0 !important;
}


.phone {
    /*border: solid;*/
    width: 20% !important;
    text-align: right;
    margin-left: 20%;
}


.customPhone {

    padding-bottom: -10px!important;
    width: 40%;
    max-width: 60%;
}

.group {
    padding: 10px 2% 5%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.73);
    margin-top: 20px;
}
