body, html {
    margin: 0;
    height: 100% !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, rgba(34, 67, 177, 0.65), #E0E1DD);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
    /*overflow-y: hidden;*/

}
::-webkit-scrollbar{
    background: transparent;

    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: #99ade8;
    border-radius: 10px;
}



code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
